* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  background-color: #28c76f;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sent-message {
  width: 40vw;
  height: 70vh;
  background-color: #f3f3f3;
  border-right: solid 1px #555;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 1rem;
}
.sent-message div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sent-message div input,
.sent-message div textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}
.sent-message div input:focus {
  outline: none;
}
.sent-message div textarea:focus {
  outline: none;
}
.sent-message div button {
  width: 100%;
  background-color: #222;
  color: #f3f3f3;
  height: 3rem;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid none;
}
.sent-message div button:hover {
  transform: scale(0.99);
  transition: 0.1s;
  cursor: pointer;
}
.sent-message div {
  width: 100%;
  padding: 1rem;
}
.sent-message .detail {
  height: 65%;
}
.sent-message .detail .to-user {
  height: 5%;
}
.sent-message .detail .message {
  height: 50%;
}
.sent-message .user-name {
  height: 5%;
}
.sent-message .submit {
  height: 15%;
}
.sent-message .submit button {
  margin-bottom: 1rem;
}
.sent-message .notify {
  height: 15%;
}
.history {
  width: 40vw;
  background-color: #fff;
  height: 70vh;
  border-right: solid 1px #555;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
}
.his{
  margin-top: 1rem;
  overflow-y: scroll;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}
.notify {
  color: red;
}
.message-history {
  font-size: 1rem;
  margin-top: 0.8rem;
  border: 1px solid #555;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 0.5rem;
}
.message-history h4 {
  line-break: anywhere;
  line-height: normal;
}
