@import url("./bootstrap/css/bootstrap.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  background-color: #28c76f;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sent-message {
  width: 40vw;
  height: 70vh;
  background-color: #f3f3f3;
  border-right: solid 0 #555;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 1rem;
}
.sent-message div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sent-message div div input,
.sent-message div textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
}
.sent-message div div .from,
.sent-message div div .to {
  height: 10%;
}
.sent-message div div input:focus {
  outline: none;
}
.sent-message div textarea:focus {
  outline: none;
}
.sent-message .submit button {
  font-size: 0.8rem;
  width: 70%;
  background-color: #222;
  color: #f3f3f3;
  height: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: unset;
  margin-bottom: 0.3rem;
}
.sent-message .submit button:hover {
  transform: scale(0.99);
  transition: 0.1s;
  cursor: pointer;
}

.sent-message .detail {
  height: 75%;
  padding-bottom: 2rem;
}
.detail .type {
  height: 40%;
  width: 100%;
  padding-bottom: 1rem;
}
.sent-message .detail .message {
  height: 70%;
}
.sent-message .user-name {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sent-message .submit {
  height: 10%;
}
.sent-message .notify {
  height: 10%;
}
.history {
  width: 40vw;
  background-color: #fff;
  height: 70vh;
  border-right: solid 0 #555;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
}
.his {
  margin-top: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.3rem 1rem 0.3rem 0;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  border-top: 1px solid #555;
}
.notify {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  line-break: anywhere;
  line-height: 0.3rem;
}
.message-history {
  margin-top: 1rem;
  border: 1px solid #555;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 0.5rem;
}
.message-history h6 {
  font-size: 0.7rem;
  line-break: normal;
  line-height: 0.8rem;
}
.dropdown {
  margin-top: 2rem;
}
.dropdown button {
  width: 70%;
}
